@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
